.share_header
  .upper
    = link_to 'Diving Log', root_path, class: 'upper__title'
  .lower
    - if user_signed_in?
      .lower__left
        = link_to show_user_path(current_user.id), class: 'userIcon' do
          = image_tag current_user.photo.url, alt: 'photo', class: 'userIcon__photo'
          = current_user.nickname
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class:'btn_common', id: 'btn_logout'
    - else
      = link_to "新規登録", new_user_registration_path, class:'btn_common', id: 'btn_signup'
      = link_to "ログイン", new_user_session_path, class:'btn_common', id: 'btn_login'
    .lower__right
      = link_to "投稿", new_log_path, class: 'btn_common', id: 'btn_post'



