.logBox
  .loginnerBox
    = link_to show_user_path(log.user.id), class: 'userInfo' do
      .userInfo__icon
        = image_tag log.user.photo.to_s, alt: 'photo', class: 'userInfo__icon__photo'
      .userInfo__nickname
        = log.user.nickname
    = link_to log_path(log.id), class: "content" do
      .content__top
        .content__top__date
          = log.d_date
        .content__top__weather.abreastBox / #{log.weather.name}
        .content__top__temp.abreastBox / 水温:  #{log.w_temp} ℃  /
        .content__top__address.abreastBox
          = log.address

        .content__top__point
          = log.point

      .content__map
        = image_tag log.map_file.to_s, alt: 'map', class: 'content__map__preview'
      .content__imgsContainer
        - log.living_thing_imgs.each do |img|
          = image_tag img.l_img_file.to_s, alt: 'img', class: "content__imgsContainer__img"

      .content__description
        = safe_join(log.description.split("\n"),tag(:br))
    
      