.logsshowWrap
  = render '/shareParts/header', user: current_user
  .main
    .divingInfo
      = render "users/shareParts/userBox", user: @log.user
      .divingInfo__detail
        .row  #{@log.d_date}
        .row  #{@log.address} 
        .row 天気: #{@log.weather.name} / 気温: #{@log.temp} ℃
        .row  水温: #{@log.w_temp} ℃ / 透明度: #{@log.visibility} [m]
        .row  エントリー: #{@log.entry_method} / 流れ: #{@log.current}
        %table(border=1)
          %tr
            %td
            %td entry
            %td exit
          %tr
            %td time
            %td #{@log.entry_time.strftime('%H:%M')}
            %td #{@log.exit_time.strftime('%H:%M')}
          %tr
            %td air
            %td #{@log.entry_air} 
            %td #{@log.exit_air}

      .divingInfo__living_things
        .m_label 生物・地形
        .divingInfo__living_things__s
          = @log.living_thing

      
      .divingInfo__equipment
        .m_label 装備
        .row スーツ ：#{@log.suits.name}  #{@log.suits_thickness} [mm]
        .row ウエイト：#{@log.weight} [kg]
        .row タンク ： #{@log.tank_type} #{@log.tank_volume} [L]

    .logBox
      .logContainer{id: "log-#{@log.id}"}
        .logBox__info
          .logBox__info__no No: #{@log.d_no}
          .logBox__info__point #{@log.point}
        = render "/logs/shareParts/sub_main", log: @log

        = render "logs/shareParts/sub_visitor", log: @log