.usersshowWrap
  = render '/shareParts/header', user: current_user
  .main
    .userInfo
      .userIcon
        = render "/users/shareParts/userBox", user: @user
      .row ライセンス
      .row 経験年数： #{@yearsOfExperience}
      .row 生息地: #{@user.prefecture.name}
      .comment
        = safe_join(@user.self_introduction.split("\n"),tag(:br))
      - if user_signed_in? &&  @user.id == current_user.id
        .edit_userInso
          = link_to 'Edit', edit_user_path, class: 'btn_common'

    = render partial: '/logs/shareParts/log_users_show', collection: @user_logs, as: 'log'
